@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
} /*gradients*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

html {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 21px;
}
html h1 {
  font-size: 42px;
  line-height: 50px;
  color: #323264;
}
html h2 {
  font-size: 32px;
  line-height: 38px;
  color: #323264;
}
html h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323264;
}
html h4 {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}

p {
  color: #000000;
}

@media (max-width: 568px) {
  html {
    font-family: "TT Norms", sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  html h1 {
    font-size: 32px;
    line-height: 38px;
    color: #323264;
  }
  html h2 {
    font-size: 22px;
    line-height: 26px;
    color: #323264;
  }
  html h3 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
  html h4 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
}
a {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
a:hover {
  color: #F0145A;
}

button {
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: var(--main-white);
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background: #0085FF;
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}
button:active {
  background: #006CCF;
  box-shadow: none;
}

.sec-1-homepage {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  position: relative;
  text-align: center;
  min-height: 100vh;
}
.sec-1-homepage:after {
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  width: 100%;
  height: 200px;
  bottom: 0px;
  z-index: 0;
}

header {
  padding: 0;
}

.d-flex-header-desctop {
  display: none;
}

.flex-header-mob-1 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
}
.flex-header-mob-1 .btn-header {
  width: 29px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #B3B3BA;
  padding: 0;
  z-index: 1;
}
.flex-header-mob-1 .btn-header:hover {
  color: #B3B3BA;
  background: #EDEDF7;
}
.flex-header-mob-1 .btn-header:active {
  background: #F0145A;
}
.flex-header-mob-1 a {
  color: #B3B3BA;
}
.flex-header-mob-1 a:hover {
  color: #F0145A;
}

.flex-header-mob-2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 20px;
}
.flex-header-mob-2 img {
  width: 77.5px;
  height: 31px;
}

.header-links-block {
  display: none;
  background: #323264;
  width: 100%;
  text-align: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 115px;
  list-style: none;
}
.header-links-block a {
  color: #B3B3BA;
}
.header-links-block a:hover {
  color: #F0145A;
}

.hamburger {
  display: block;
  width: 30px;
  position: absolute;
  right: 0;
  top: 8%;
  z-index: 4;
}

.hamburger-line {
  display: block;
  background-color: #FFFFFF;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin-left: -20px;
  z-index: 3;
}
.hamburger-line::before, .hamburger-line::after {
  background-color: #FFFFFF;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.hamburger-line::before {
  top: 7px;
}
.hamburger-line::after {
  top: -7px;
}

#checkbox-toggle {
  display: none;
}

#checkbox-toggle:checked ~ .header-links-block {
  display: block;
  max-height: 100%;
  transition: all 0.5s;
  height: 100vh;
  z-index: 3;
  position: fixed;
}

#checkbox-toggle:checked ~ .hamburger .hamburger-line {
  background: transparent;
  position: fixed;
}

#checkbox-toggle:checked ~ .hamburger .hamburger-line::before {
  top: 0px;
  transform: rotate(405deg);
}

#checkbox-toggle:checked ~ .hamburger .hamburger-line::after {
  top: 0px;
  transform: rotate(-405deg);
}

@media screen and (min-width: 768px) {
  header {
    padding: 50px 60px 0px;
  }
  .flex-header-mob-1 {
    display: none;
  }
  .flex-header-mob-2 {
    display: none;
  }
  .d-flex-header-desctop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .d-flex-header-desctop img {
    width: 77.5px;
    height: 31px;
  }
  .header-nav-links {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-direction: row;
    align-items: center;
  }
  .header-nav-links .btn-header {
    width: 29px;
    height: 24px;
    background: transparent;
    box-shadow: none;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #EDEDF7;
    padding: 0;
  }
  .header-nav-links .btn-header:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }
  .header-nav-links .btn-header:active {
    background: #F0145A;
  }
  .header-nav-links a {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .header-nav-links a:hover {
    color: #F0145A;
  }
  .header-nav-links .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
  }
  .header-links-block {
    display: flex;
    justify-content: flex-end;
    background: none;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding: 0;
  }
  .header-links-block a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
  }
  .header-links-block a:hover {
    color: #F0145A;
  }
}
@media screen and (min-width: 1024px) {
  .d-flex-header-desctop img {
    width: 155px;
    height: 62px;
  }
  .header-nav-links {
    gap: 15px;
  }
  .header-nav-links a {
    font-size: 16px;
    line-height: 19px;
  }
  .header-links-block a {
    font-size: 18px;
    line-height: 21px;
  }
}
.sec-1-homepage .symbolmain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 456px;
}

.img-frame {
  display: none;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.div-symbol-main {
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}

.sec-1-homepage .h1main {
  color: white;
  z-index: 1;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 263px;
  padding-top: 38px;
}

.arrow {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  border: 1px solid #FFFFFF;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transition: all 0.2s;
  transform: translateX(-50%);
  border-radius: 50%;
}
.arrow:hover {
  opacity: 1;
}
.arrow:after {
  content: "";
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.scrolllbtn {
  height: 42px;
  width: 42px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.scrolllbtn:hover {
  color: #B3B3BA;
  background: #EDEDF7;
}
.scrolllbtn:active {
  background: #F0145A;
}

@media screen and (min-width: 768px) {
  .sec-1-homepage .symbolmain {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    height: 456px;
  }
  .img-frame {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .div-symbol-main {
    padding-top: 185px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .sec-1-homepage .h1main {
    color: white;
    z-index: 1;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 60px;
  }
  .arrow {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transition: all 0.2s;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  .arrow:hover {
    opacity: 1;
  }
  .arrow:after {
    content: "";
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .scrolllbtn {
    height: 42px;
    width: 42px;
    background: transparent;
    box-shadow: none;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .scrolllbtn:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }
  .scrolllbtn:active {
    background: #F0145A;
  }
}
.sec-2-homepage {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  width: 100%;
  min-height: 100vh;
  border-radius: 0px 0px 12px 12px;
}

.slider-mb-sec-2 {
  margin: 0 auto;
  padding-top: 40px;
  width: 100%;
}
.slider-mb-sec-2 .slider-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}
.slider-mb-sec-2 .slider-item h3 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-fill-color: transparent;
}
.slider-mb-sec-2 .slider-item h2 {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 10px;
}
.slider-mb-sec-2 .slider-item p {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.slider-mb-sec-2 .slick-dots li button {
  background: #24A3FF;
  height: 16px;
  width: 16px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  opacity: 0.2;
}
.slider-mb-sec-2 .slick-dots li button:before {
  content: "";
  height: 16px;
  width: 16px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  opacity: 0.2;
}
.slider-mb-sec-2 .slick-dots li.slick-active button {
  background: #24A3FF;
  opacity: 0.75;
}

.tabs {
  display: none;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.tabs .tabs-list {
  padding-right: 80px;
  text-align: right;
  color: #B3B3BA;
  font-size: 42px;
  line-height: 50px;
}
.tabs .tabs-list li {
  border-right: 4px solid #E6E6F0;
  padding-right: 40px;
}
.tabs .tabs-list a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs .tabs-list .ui-tabs-active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  border-right: 4px solid #F0145A;
}

.tabs h2 {
  color: #FFFFFF;
  text-align: left;
}

.tabs p {
  color: #FFFFFF;
  text-align: left;
  margin-top: 20px;
  font-size: 21px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .display-none-slide {
    display: none;
  }
  .tabs {
    display: flex;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .tabs .tabs-list {
    padding-right: 80px;
    text-align: right;
    color: #B3B3BA;
    font-size: 42px;
    line-height: 50px;
  }
  .tabs .tabs-list li {
    border-right: 4px solid #E6E6F0;
    padding-right: 40px;
  }
  .tabs .tabs-list a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .tabs .tabs-list .ui-tabs-active {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    border-right: 4px solid #F0145A;
  }
  .tabs h2 {
    color: #FFFFFF;
    text-align: left;
  }
  .tabs p {
    color: #FFFFFF;
    text-align: left;
    margin-top: 20px;
    font-size: 21px;
    line-height: 30px;
  }
}
div .link-arrow-sec2 {
  text-align: left;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
div .link-arrow-sec2:after {
  content: "";
  border: 2px solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
div .link-arrow-sec2:hover {
  color: #F0145A;
}
div .link-arrow-sec2:hover::after {
  border: 2px solid #F0145A;
}

.sec-2-homepage h1 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-bottom: 68px;
  margin-top: 3px;
}

.wraper-sec2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px;
  padding-bottom: 80px;
}
.wraper-sec2 .card-sec2 {
  max-width: 413px;
}
.wraper-sec2 .card-sec2 img {
  margin-bottom: 20px;
  margin-right: 320px;
}
.wraper-sec2 .card-sec2 a {
  font-size: 24px;
  line-height: 28px;
}
.wraper-sec2 .card-sec2 p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.sec-2-homepage .border-sec-1 {
  display: block;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  width: calc(100% - 40px);
  position: absolute;
  margin-left: 20px;
}
.sec-2-homepage .border-sec-1:after {
  content: "";
  display: block;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  width: calc(100% - 80px);
  position: absolute;
  bottom: -10px;
  margin-left: 40px;
}

.sec-3-homepage {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  margin: 5px auto;
}

.flex-container {
  display: flex;
  gap: 1px;
  margin-top: 77px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: end;
}
.flex-container h3 {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  padding: 0 20px 20px;
}
.flex-container p {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  padding: 0 20px 20px;
}

.flex-card-1 {
  border-radius: 12px 0px 0px 0px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  width: 433px;
}
.flex-card-1 .h3-flex-first {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  padding: 20px 20px 20px;
  border-bottom: 1px solid white;
}
.flex-card-1 .h3-flex-sec {
  padding: 48px 20px 20px 20px;
}

.flex-card-2 {
  width: 454px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-top: 105px;
}

.flex-card-3 {
  width: 431px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-top: 105px;
  border-radius: 0px 12px 0px 0px;
}

.flex-card-4 {
  width: 320px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border-radius: 0px 0px 0px 12px;
  padding-top: 20px;
}

.flex-card-5 {
  width: 453px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-top: 76px;
}

.flex-card-6 {
  width: 545px;
  background: linear-gradient(0deg, #F5F5FA, #F5F5FA), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-top: 76px;
  border-radius: 0px 0px 12px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  margin-top: 30px;
  max-width: 1440px;
}

.sec-3-publications {
  background: #F5F5FA;
  position: relative;
  padding: 40px 0;
}
.sec-3-publications:after {
  content: "";
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 200px;
  border-bottom: 4px solid #E6E6F0;
  max-width: 1320px;
}
.sec-3-publications a {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 3px;
}
.sec-3-publications a:after {
  content: "";
  border: 1px solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.sec-3-publications a:hover {
  color: #F0145A;
}
.sec-3-publications a:hover::after {
  border: 1px solid #F0145A;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.sec-3-publications h1 {
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 3px;
  margin-bottom: 40px;
}
.sec-3-publications button {
  position: relative;
  left: 50%;
  transform: translate(-50%, -40px);
  z-index: 2;
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 413px));
  grid-gap: 40px;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
@media screen and (max-width: 568px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}

.card {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 8px;
}
.card img {
  width: calc(100% + 40px);
  height: 233px;
  margin: -20px;
  margin-bottom: 10px;
}
.card h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding-top: 20px;
  padding-bottom: 10px;
}
.card p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 20px;
}
.card .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 86px;
  font-size: 16px;
  line-height: 22px;
  color: black;
  border: 0;
  padding-top: 20px;
}

footer {
  background: #F5F5FA;
  position: relative;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}
.flex-footer .dot-footer {
  background: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.flex-footer a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.flex-footer a:hover {
  color: #F0145A;
}
.flex-footer p {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.flex-justcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}
.flex .dot-footer {
  background: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.flex p {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #46466E;
}

/*# sourceMappingURL=main.css.map */
