@use "common";
@use "base";

.sec-1-homepage {
  background: center/ cover no-repeat url("../images/main page/background-img-main.svg");
  position: relative;
  text-align: center;
  z-index: -2;
}

header {
  padding: 50px 60px 0px;
}

.d-flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  gap: 623px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn-header {
  width: 29px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;

  color:base.$main-white
;
  padding: 0;

  .btn-header:last-child {
    margin-right: 20px;
  }

  &:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }

  &:active {
    background: #F0145A;
  }
}

.header-nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //justify-content: space-between;
  a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;

    &:hover {
      color: #F0145A;
    }
  }
}

.header-btn-block {
  margin-right: 20px;
}

.header-adress-block {
  margin-right: 13px;

  a {
    font-size: 16px;
    line-height: 19px;
  }
}

div .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-number-block {
  margin-right: 10px;
  margin-left: 1px;

  a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}

.social-icon-header-facebook {
  width: 24px;
  height: 24px;
}

.header-links-block {
  display: flex;
  gap: 15px;
}

.sec-1-homepage .symbolmain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 456px;
}

.div-symbol-main {
  padding-top: 185px;
  padding-bottom: 20px;
}

.sec-1-homepage .h1main {
  color: base.$main-white;
  z-index: 1;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 60px;
}

.scrolllbtn {
  width: 42px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: base.$main-white;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 100px;
  border-radius: 50%;
  left: calc(50% - 42px / 2);
  bottom: 0px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;

  &:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }

  &:active {
    background: #F0145A;
  }
}


