@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
} /*gradients*/
html {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 21px;
}
html h1 {
  font-size: 42px;
  line-height: 50px;
  color: #323264;
}
html h2 {
  font-size: 32px;
  line-height: 38px;
  color: #323264;
}
html h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323264;
}
html h4 {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}

p {
  color: #000000;
}

@media (max-width: 568px) {
  html {
    font-family: "TT Norms", sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  html h1 {
    font-size: 32px;
    line-height: 38px;
    color: #323264;
  }
  html h2 {
    font-size: 22px;
    line-height: 26px;
    color: #323264;
  }
  html h3 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
  html h4 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
}
a {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
a:hover {
  color: #F0145A;
}

button {
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: var(--main-white);
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background: #0085FF;
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}
button:active {
  background: #006CCF;
  box-shadow: none;
}

.sec-1-homepage {
  background: center/cover no-repeat url("../images/main page/background-img-main.svg");
  position: relative;
  text-align: center;
  min-height: 100vh;
}
.sec-1-homepage:after {
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  width: 100%;
  height: 200px;
  bottom: 0px;
  z-index: 2;
}

header {
  padding: 50px 60px 0px;
}

.d-flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  gap: 623px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn-header {
  width: 29px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  padding: 0;
}
.btn-header .btn-header:last-child {
  margin-right: 20px;
}
.btn-header:hover {
  color: #B3B3BA;
  background: #EDEDF7;
}
.btn-header:active {
  background: #F0145A;
}

.header-nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav-links a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
.header-nav-links a:hover {
  color: #F0145A;
}

.header-btn-block {
  margin-right: 20px;
}

.header-adress-block {
  margin-right: 13px;
}
.header-adress-block a {
  font-size: 16px;
  line-height: 19px;
}

div .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-number-block {
  margin-right: 10px;
  margin-left: 1px;
}
.header-number-block a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.social-icon-header-facebook {
  width: 24px;
  height: 24px;
}

.header-links-block {
  display: flex;
  gap: 15px;
}

.sec-1-homepage .symbolmain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 456px;
}

.div-symbol-main {
  padding-top: 185px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.sec-1-homepage .h1main {
  color: white;
  z-index: 1;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 60px;
}

.scrolllbtn {
  height: 42px;
  width: 42px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.scrolllbtn:hover {
  color: #B3B3BA;
  background: #EDEDF7;
}
.scrolllbtn:active {
  background: #F0145A;
}

.sec-2-homepage {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  min-height: 100vh;
  border-radius: 0px 0px 12px 12px;
}
.sec-2-homepage:after {
  content: "";
  border-bottom: 10px solid #CACADB;
  border-radius: 0px 0px 12px 12px;
  display: block;
}

.tabs {
  display: flex;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.tabs .tabs-list {
  padding-right: 80px;
  text-align: right;
  color: #B3B3BA;
  font-size: 42px;
  line-height: 50px;
}
.tabs .tabs-list li {
  border-right: 4px solid #E6E6F0;
  padding-right: 40px;
}
.tabs .tabs-list a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs .tabs-list .ui-tabs-active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  border-right: 4px solid #F0145A;
}

.tabs h2 {
  color: #FFFFFF;
  text-align: left;
}

.tabs p {
  color: #FFFFFF;
  text-align: left;
  margin-top: 20px;
  font-size: 21px;
  line-height: 30px;
}

div .link-arrow-sec2 {
  text-align: left;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
div .link-arrow-sec2:after {
  content: "";
  border: 2px solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
div .link-arrow-sec2:hover {
  color: #F0145A;
}
div .link-arrow-sec2:hover::after {
  border: 2px solid #F0145A;
}

.sec-2-homepage h1 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-bottom: 68px;
  margin-top: 3px;
}

.wraper-sec2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px;
  padding-bottom: 80px;
}
.wraper-sec2 .card-sec2 {
  max-width: 413px;
}
.wraper-sec2 .card-sec2 img {
  margin-bottom: 20px;
  margin-right: 320px;
}
.wraper-sec2 .card-sec2 a {
  font-size: 24px;
  line-height: 28px;
}
.wraper-sec2 .card-sec2 p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

/*# sourceMappingURL=main.css.map */
