@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url("../fonts/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
} /*gradients*/
html {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 21px;
}
html h1 {
  font-size: 42px;
  line-height: 50px;
  color: #323264;
}
html h2 {
  font-size: 32px;
  line-height: 38px;
  color: #323264;
}
html h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323264;
}
html h4 {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}

p {
  color: #000000;
}

@media (max-width: 568px) {
  html {
    font-family: "TT Norms", sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  html h1 {
    font-size: 32px;
    line-height: 38px;
    color: #323264;
  }
  html h2 {
    font-size: 22px;
    line-height: 26px;
    color: #323264;
  }
  html h3 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
  html h4 {
    font-size: 18px;
    line-height: 21px;
    color: #323264;
  }
}
a {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
a:hover {
  color: #F0145A;
}

button {
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 16px 17px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  color: var(--main-white);
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background: #0085FF;
  box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}
button:active {
  background: #006CCF;
  box-shadow: none;
}

.sec-1-homepage {
  background: center/cover no-repeat url("../images/main page/background-img-main.svg");
  position: relative;
  text-align: center;
  z-index: -2;
}

header {
  padding: 50px 60px 0px;
}

.d-flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  gap: 623px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn-header {
  width: 29px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  padding: 0;
}
.btn-header .btn-header:last-child {
  margin-right: 20px;
}
.btn-header:hover {
  color: #B3B3BA;
  background: #EDEDF7;
}
.btn-header:active {
  background: #F0145A;
}

.header-nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav-links a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
.header-nav-links a:hover {
  color: #F0145A;
}

.header-btn-block {
  margin-right: 20px;
}

.header-adress-block {
  margin-right: 13px;
}
.header-adress-block a {
  font-size: 16px;
  line-height: 19px;
}

div .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-number-block {
  margin-right: 10px;
  margin-left: 1px;
}
.header-number-block a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.social-icon-header-facebook {
  width: 24px;
  height: 24px;
}

.header-links-block {
  display: flex;
  gap: 15px;
}

.sec-1-homepage .symbolmain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 456px;
}

.div-symbol-main {
  padding-top: 185px;
  padding-bottom: 20px;
}

.sec-1-homepage .h1main {
  color: white;
  z-index: 1;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 60px;
}

.scrolllbtn {
  width: 42px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 100px;
  border-radius: 50%;
  left: calc(50% - 21px);
  bottom: 0px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
