@use "common";
@use "base";

.sec-1-homepage {
  background: center/ cover no-repeat url("../images/main page/background-img-main.svg");
  position: relative;
  text-align: center;
  min-height: 100vh;
  &:after{
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    width:100%;
    height: 200px;
    left: 0;
    bottom: 0;
    top: 0;
  }
}

header {
  padding: 50px 60px 0px;
}

.d-flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  gap: 623px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn-header {
  width: 29px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: base.$main-white;
  padding: 0;

  .btn-header:last-child {
    margin-right: 20px;
  }

  &:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }

  &:active {
    background: #F0145A;
  }
}

.header-nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //justify-content: space-between;
  a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;

    &:hover {
      color: #F0145A;
    }
  }
}

.header-btn-block {
  margin-right: 20px;
}

.header-adress-block {
  margin-right: 13px;

  a {
    font-size: 16px;
    line-height: 19px;
  }
}

div .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E6E6F0;
}

.header-number-block {
  margin-right: 10px;
  margin-left: 1px;

  a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}

.social-icon-header-facebook {
  width: 24px;
  height: 24px;
}

.header-links-block {
  display: flex;
  gap: 15px;
}

.sec-1-homepage .symbolmain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 456px;
}

.div-symbol-main {
  padding-top: 185px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.sec-1-homepage .h1main {
  color: base.$main-white;
  z-index: 1;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 60px;
}

.scrolllbtn {
  height: 42px;
  width: 42px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &:hover {
    color: #B3B3BA;
    background: #EDEDF7;
  }

  &:active {
    background: #F0145A;
  }
}

//Section 2

.sec-2-homepage {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  //text-align: center;
  min-height: 100vh;
}

.tabs{
  display: flex;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  .tabs-list{
    padding-right: 80px;
    text-align: right;
    color: #B3B3BA;
    font-size: 42px;
    line-height: 50px;
    li{
      border-right: 4px solid #E6E6F0;
      padding-right: 40px;
    }
    a{
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.tabs .tabs-list .ui-tabs-active{
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  border-right: 4px solid #F0145A;
}

.tabs h2{
  color: #FFFFFF;
  text-align: left;
}

.tabs p{
  color: #FFFFFF;
  text-align: left;
  margin-top: 20px;
  font-size: 21px;
  line-height: 30px;
}

div .link-arrow-sec2{
  text-align: left;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  &:hover{
    color: #F0145A;
  }
    &:after{
      content: '';
      border: 2px solid #FFFFFF;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
}

.sec-2-homepage h1{
  background: base.$gradient-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-bottom: 68px;
  margin-top: 3px;
}




